.Container {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Menu {
    width: 100vw;
    display: flex;
    justify-content: end;
}

.Title{
    font-size: 10rem;
}

.SecondaryTitle{
    font-size: 3rem;
    margin: 0;
    color: white;
}

.Arrow {
    height: 18vh;
    position: relative;
    margin-top: 6rem;
}

li {
    list-style-type: none;
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-content: center;
    font-weight: 500;
}

ul {
    margin-right: 10rem;
}

.Link {
    font-size: 1.5rem;
    text-decoration: none;
}

.Link:hover {
    text-decoration: underline;
}


.ToggleContainer {
    position: relative;
    width: 3.50vw;
    height: 1.575vw;
    border-radius: 17px;
    background: azure;
}

.Toggle {
    position: relative;
    width: 3.5vw;
    height: 1.575vw;
    border-radius: 17px;
    background: azure;
}

.ToggleCircle {
    position: absolute;
    top: 0.25vw;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    cursor: pointer;
}

.Mode:hover{
    text-decoration: none;
    cursor: pointer;
}

.ToggleCircle[mode='light'] {
    left: 0.3vw;
    transition: left 0.3s ease-out;
    border: 0.3vw solid #fcfbfb;
}

.ToggleCircle[mode='dark'] {
    left: 2vw;
    transition: left 0.3s ease-out;
    border: 0.3vw solid #000000;
}

.hamburger{
    display: none;
}

@media all and (max-width: 820px){

    h1{
        font-size: 10rem;
    }

    .Title{
        width: 86rem;
        font-size: 10rem;
        padding: 0;
    }

    .SecondaryTitle{

        width: 75rem;
        font-size: 8rem;

    }

    .Menu{

        display: none;

    }

    .hamburger{
        display: inline;
    }

}