.SkillsComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

p{
    text-align: center;
}

.SkillsContainer {
    position: relative;
    height: 15vh;
    display: flex;
    margin-bottom: 48px;
}


.SkillsContainer:hover {
    cursor: pointer;
}

.Icon {
    width: 85%;
    vertical-align: middle;
    margin: 0 auto;
}

.Arrow {
    height: 18vh;
    position: relative;
    margin-top: 6rem;
}