.Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.ProjGifs {
    display: flex;
    justify-content: center;
    position: relative;
}

.EarlierProj,
.LaterProj {
    position: absolute;
    width: 50rem;
    height: 25rem;
}

.PrevProj,
.NextProj {
    width: 50rem;
    height: 25rem;
}

.ProjectName {
    text-align: center;
}


.NameContainer {
    display: flex;
    width: 50vw;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

.PrevArrow {
    width: 5rem;
    height: 3vw;
    transition: transform 0.5s;
    margin-top: 2rem;
}

.NextArrow {
    width: 5rem;
    transform: rotate(180deg);
    height: 3vw;
    transition: transform 0.5s;
    margin-top: 2rem;
}

.PrevArrow:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.NextArrow:hover {
    transform: rotate(180deg) scale(1.3);
    cursor: pointer;
}

.PrevArrow:active {
    transform: scale(0.7);
}

.NextArrow:active {
    transform: rotate(180deg) scale(0.7);
}


.LinksContainer {
    display: flex;
    justify-content: center;
    column-gap: 15rem;
}

.Link {
    width: 15rem;
    border-radius: 10.6vw;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    border: 3px solid white;
    margin-bottom: 5rem;
    padding: 0.5rem;
    font-weight: 500;
}

.Link:hover {
    border: 3px solid white;
    background-color: #213fc7;
}

.Link[mode='dark'] {
    background-color: #ffffff;
    color: black;
}

.Link[mode='dark']:hover {
    background-color: black;
    color: #66fcf1;
}