body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding: 0;
  margin: 0;
  background-color: #213fc7;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text[mode='light'],
.linkText[mode='dark'],
.secondaryText[mode='dark'],
.linkText[mode='light']:hover {
  color: #fbc40e;
  animation: lightToDarkColor;
}

.text[mode='dark'],
.linkText[mode='light'] .secondaryText[mode='light'],
.linkText[mode='dark']:hover {
  color: red;
  animation: darkToLightColor;
}

.background[mode='dark'],
.secondaryBackground[mode='light'],
.linkBackground[mode='light'] {
  background-color: black;
  color: white;
  animation: lightToDarkBackground;
}

@keyframes lightToDarkColor {
  0% {
    color: white;
  }

  100% {
    color: black;
  }
}

@keyframes darkToLightColor {
  0% {
    color: black;
  }

  100% {
    color: white;
  }
}