.About{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    margin-top: 10rem;
}


.AboutPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.About{
    width: 100vw;
    height: 100vh;
}

.aboutText{
    display: flex;
    flex-direction: column;
}

h2 {
    flex: 5;
    font-size: 3rem;
}

p {
    width: 55vw;
    max-width: 100%;
    font-size: 2rem;
    color: white;
}

.Arrow {
    margin-top: 6rem;
    height: 18vh;
    position: relative;
}

.TriangleLeft{
    position: absolute;
    left: -1rem;
    width: 22rem;
    transform: rotate(90deg);
}

.TriangleRight{
    position: absolute;
    right: -3rem;
    width: 22rem;
    transform: rotate(270deg);
}