.AboutPage {
    display: flex;
    justify-content: space-around;
    padding-left: 4vw;
    height: 100vh;
}

.About{
    width: 90vw;
    height: 90vh;
}

.aboutText{
    display: flex;
    flex-direction: column;
}

h2 {
    flex: 5;
    font-size: 3rem;
}

p {
    width: 35vw;
    max-width: 100%;
    font-size: 2rem;
}

.Arrow {
    transform: rotate(200deg) scaleY(-1);
    width: 14vw;
    height: auto;
    position: relative;
    left: 50vw;
    bottom: 15vw;
    padding-bottom: 3rem;
}